<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>CORONA VIRUS TRACKER</title>
		<!-- <link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"> -->
	</head>
	<body>
		<div>
			<table border="5">
				<tr>
					<th align="center">Country</th>
					<th align="center">Total Cases Confirmed</th>
					<th align="center">Total Cases Death</th>
					<th align="center">Total Cases Recovered</th>
					<th align="center">Active Cases</th>
				</tr>
				<tr th:each="locationStat : ${locationStats}">
					<td th:text="${locationStat.key}" align="center" />
					<td
						th:text="${locationStat.value.totalNumberOfConfirmedCasesPerCountry}"
						align="center" />
					<td
						th:text="${locationStat.value.totalNumberOfDeathCasesPerCountry}"
						align="center" />
					<td
						th:text="${locationStat.value.totalNumberOfRecoveredCasesPerCountry}"
						align="center" />
					<td
						th:text="${locationStat.value.activeCasesPerCountry}"
						align="center" />
				</tr>
			</table>
		</div>
	</body>
</html>